.slide img {
  max-width: 100%; 
  height: auto;
  display: block;
  margin: 0 auto;
  
}

.slide {
  transform: scale(0.5); 
  transition: transform 300ms;
  opacity: 0.8; 
}


.activeSlide {
  transform: scale(1.0); 
  opacity: 1;

}
