.gridContainer {
  padding: 8px;
}

.overlay {
  padding: 15px;
  font-weight: 400;
  font-size: large;
  letter-spacing: 6px;
  color: white;
  text-align: center;
  z-index: 1000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -25.66%, rgba(0, 0, 0, 0.6) 89.95%);
}

.mainImage {
  height: auto;
}

.mainImageContainer{
  margin-bottom: 8px;
}

.mainImageContainer .overlay {
  z-index: 1000;
}
