.scroll-container {
}

.category-card {
  border: 0;
  background-color: #f6f6f6;

  cursor: pointer;
  color: black;
}

.category-card.active {
  background-color: #2a2a2a;
  color: white;
  border: 0;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
