.scroll-container {
  display: flex; /* Flexbox layout */
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  white-space: nowrap; /* Keep all items in a single line */
  padding: 10px 0;
}

.category-card {
  flex: 0 0 auto; /* Do not grow, do not shrink, and base the size on width property */
  margin-right: 16px;
  padding: 8px 16px;
  border: 0;
  background-color: #f6f6f6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
  border-radius: 0; /* If you want no border-radius, set this to 0 */
}

.category-card:last-child {
  margin-right: 0;
}

.category-card.active {
  background-color: #2a2a2a;
  color: white;
  border: 0;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* This will hide the scrollbar completely */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scroll-container {
}
