/* .slide img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .slide {
    position: relative;
    transition: transform 300ms;
    opacity: 0.8;
    transform: scale(2.0) translateX(0%);
  }
  
  .activeSlide {
    transform: scale(2 ) translateX(0%);
    opacity: 1;
    height: auto;
  }
  
  .slide p {
    position: relative;
    bottom: 18px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 1.5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 14px; 
  }
  
  .carousel-container {
    width: 100%; 
    overflow: hidden; 
  } */

  .customCarouselContainer {
    overflow: hidden;
  }
  
  