.AppButton {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-bottom: 20px;
  width: 34%;
}

.Explore{
  color: rgba(233, 233, 233, 1);
  background-color: rgba(157, 0, 0, 1);
  border: 0.5px solid rgba(128, 128, 128, 1);
  height: 54px;
  font-weight: 500;
  letter-spacing: 0.1em;
} 

.title {
  font-size: 18px;
  font-weight: 296;
  line-height: 18px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
}

.description {
font-size: 12px;
font-weight: 300;
line-height: 13.5px;
letter-spacing: 0.1em;
color: rgba(106, 106, 106, 1);
}